<div class="search-form container mt-4">
    <form method="POST">
        <div class="form-group">
            <label for="searchBox">Key word</label>
            <input type="text" name="q" class="form-control" id="searchBox" placeholder="Enter the text ...">
        </div>
        <div class="form-group">
            <label for="genderInput">Key word</label>
            <select name="gender" class="form-control" id="genderInput">
                <option value="">--Chọn giới tính--</option>
                <option value="male">Male</option>
                <option value="feMale">FeMale</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>